

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*background-color: #ffddd3;*/
    background-color: #f8f9fa;


}
.header {
    background: url(https://assets.mynetdiary.com/images/texture-noise@1x.png), radial-gradient(ellipse at top, #05b24a 0, #05963d 60%);
    color: white;
    padding: 10px 0;
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 0px;
    padding-bottom: 8px;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
}

.ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 15px;
}

.a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.a:hover {
    text-decoration: underline;
}


.buttons {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-signup {
    background-color: #f4a261;
    color: white;
}

.btn-signin {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-signup:hover {
    background-color: #e76f51;
}

.btn-signin:hover {
    background-color: white;
    color: #2a9d8f;
}

.page-title {
    text-align: center;
    background-color: #2D799C;
    color: white;
    padding: 20px 0;
    font-size: 3rem; /* La valeur la plus grande est conservée */
    letter-spacing: -.04em;
    line-height: 1.2;
    margin-bottom: .5rem;
    position: relative;
    z-index: 2;
    border-bottom-right-radius: 100rem 5rem;
    border-bottom-left-radius: 100rem 5rem;

}

.titre{
    margin-top: 20px;
    height: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;


}
.img-header{
    width: 68%;
    height: auto;
    margin-top: 106px;

}
.ti{
    height: 900px;
}


/*  les cards de services */

.card1 {
    border: none;
    box-shadow:0 1px 5px #212020;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgb(12, 255, 80);
}

.card1-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card1-text {
    font-size: 1rem;
    color: #666;
}
.container.text-center.my-5 {
    color: black;
}


p.text-muted {
    font-size: 1.2rem;
    color: #6c757d;
}









